@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#fafafa] text-slate-900 font-sans antialiased scroll-smooth;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif tracking-tight;
  }
}

/* Custom newspaper-like border utility */
.border-news {
  border-width: 4px;
  border-style: double;
  border-color: #0f172a;
}
